@model IEnumerable<TransportPartner.ViewModels.DeliveryViewModel>

@{
    ViewData["Title"] = "Leveringer";
}

<div>
    <p>
        <a asp-action="CreateDelivery" asp-controller="Delivery">Create New</a>
    </p>
</div>