@model IEnumerable<TransportPartner.Models.DeliveryViewModel>

@{
    ViewData["Title"] = "Overview";
}

<h1>Overview</h1>

<div>
    <p>
        <a asp-action="Create" asp-controller="Delivery">Create New</a>
    </p>
</div>